@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One);
@import url(http://fonts.googleapis.com/css?family=Crimson+Text);

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(//themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}