.menu-mobile {
  // width: 300px;
  position: relative;
  position: fixed;
  width: 280px;
  height: 100%;
  top: 0;
  left: 100%;

  &__list {
    background-color: rgba(#000,1);
    // top: 0;
    // left: 100%;
    // width: 300px;
    // height: 100%;
    box-sizing: border-box;
    padding: 18px 0;
  }

  &__link {
    display: block;
    padding: 18px 10px;
    // width: 100%;
    box-sizing: border-box;
    transition: background-color .1s ease;

    &:hover {
      background-color: rgba(#fff,.1);
    }

    &:active {
      background-color: rgba(#fff,.2);
    }
  }

  &__btn-wrap {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 900;

    // @include media(M) {
    //   display: none;
    // }

    .mobile & {
      display: block;
    }

    .desktop & {
      display: none;
    }
  }

  &__btn-open,
  &__btn-close {
    display: block;
    cursor: pointer;
    margin: .65em .65em;
    padding: 1.0em 1.0em;
    border-radius: 6px;
    transition: background-color .2s ease;

    &:hover {
      background-color: $colorBgLight;
    }

    &.swiper-button-disabled {
      display: none;
    }
  }

  &__icon-hamburger,
  &__icon-close {
    display: block;
    width: 24px;
    height: auto;
  }
}
