---
layout: default
title: About
description: About Sentimony Records
permalink: /
og-image: https://content.sentimony.com/assets/img/og-images/sentimony/home.jpg
---

{% include Hero/index.html %}

Sentimony Records is an independent record label started in Ukraine during the autumn 2006 by Irukanji with the main goal to contribute the growth of the psychedelic chillout scene.

Recently all Sentimony Records releases available for free download.<br>
We will be grateful for your feedback at bandcamp.

<!-- <section class="list">
  <h3>Latest Releases</h3>
  {% for i in site.categories.releases limit: 4 %}
  <a href="{{ i.url }}">
    <div class="outline">
      <img src="https://content.sentimony.com/assets/img/releases/medium/{% if i.cover %}{{ i.cat_no }}/{{ i.slug }}.jpg{% else %}artwork-in-progress.jpg{% endif %}">
    </div>
    <div class="title">{{ i.title }}</div>
  </a>
  {% endfor %}
</section> -->
