---
layout: page
title: Artists
description: Artists of Sentimony Records
permalink: /artists/
og-image: https://content.sentimony.com/assets/img/og-images/sentimony/home.jpg
---

<div style="display:flex;flex-wrap:wrap;justify-content:space-around">
  {% assign artists = site.categories.artists | sort: 'title' %}
  {% for i in artists %}
    {% if i.published == true %}
      <div>
        {% if i.photo %}
          <p>
            <a href="{{ i.url }}">
              <img class="artist-list__photo" src="https://content.sentimony.com/assets/img/artists/small/{{ i.slug }}.jpg" alt="{{ i.title }}">
            </a>
          </p>
        {% endif %}
        <p class="artist-list__title"><a href="{{ i.url }}">{{ i.title }}</a></p>
      </div>
    {% endif %}
  {% endfor %}
</div>
