---
layout: default
titleAfter: Electronic Music Label
description: Sentimony Records - Electronic music label from Kyiv, Ukraine
permalink: /
---

{% include Hero/index.html %}

<section class="list">
  <h3>Latest Releases</h3>
  {% for i in site.categories.releases limit: 4 %}
  <a href="{{ i.url }}">
    <div class="outline">
      <img 
        data-src="holder.js/700x700?auto=yes&text={{ i.title }}&fg=000&bg=0ff"
        data-layzr="{{ site.baseurl }}/assets/img/releases/{{ i.slug }}.jpg"
        data-layzr-retina="{{ site.baseurl }}/assets/img/releases/{{ i.slug }}@2x.jpg"
      >
    </div>
    <div class="title">{{ i.title }}</div>
  </a>
  {% endfor %}
</section>
