---
layout: default
titleAfter: Psychill Music Label
description: Sentimony Records is an independent record label started in Ukraine during the autumn 2006 by Irukanji with the main goal to contribute the growth of the psychedelic chillout scene.
permalink: /
og-image: https://content.sentimony.com/assets/img/og-images/sentimony/home.jpg
---

<!-- {% include ReleasesListSwiper/index.html %} -->
{% include Hero/index.html %}

<!-- <section>
  <h3>Latest Releases</h3>
  {% for i in site.categories.releases limit: 4 %}
  <a href="{{ i.url }}">
    <div>
      <img src="https://content.sentimony.com/assets/img/releases/medium/{% if i.cover %}{{ i.cat_no }}/{{ i.slug }}.jpg{% else %}artwork-in-progress.jpg{% endif %}">
    </div>
    <div>{{ i.title }}</div>
  </a>
  {% endfor %}
</section> -->
