<div class="swiper-artist-list {{ include.class}}">
  <swiper-artist-list></swiper-artist-list>
  <div class="swiper-container swiper-artist-list__container">
    <div class="swiper-wrapper">
      {% for i in site.categories.artists %}
        {% include SwiperArtistListItem/index.html %}
      {% endfor %}
    </div>
    <div class="swiper-artist-list__prev js-swiper-artist-list__prev"></div>
    <div class="swiper-artist-list__next js-swiper-artist-list__next"></div>
    <div class="swiper-scrollbar swiper-artist-list__scrollbar js-swiper-artist-list__scrollbar"></div>
  </div>
</div>
