<div class="release-page">
  {% include SVG/deco-triangle.svg fill='#fff' %}

  <div class="release-page__wrapper">

    <div class="release-page__media">
      <div class="release-page__cover">
        {% if page.cover %}
        <a class="release-page__cover-link" href="https://content.sentimony.com/assets/img/releases/large/{{ page.cat_no }}/{{ page.slug }}.jpg">
          <img class="release-page__cover-img" 
            src="https://content.sentimony.com/assets/img/releases/medium/{{ page.cat_no }}/{{ page.slug }}.jpg"
            data-retina="https://content.sentimony.com/assets/img/releases/medium-retina/{{ page.cat_no }}/{{ page.slug }}.jpg"
          >
        </a>
        {% else %}
        <div class="release-page__cover-coming">Artwork<br>in progress</div>
        {% endif %}
      </div>

      <div class="release-page__info">
        <div class="release-page__date">{% if page.coming_soon %}Coming at {{ page.date | date: '%Y' }}{% else %}{{ page.date | date_to_string }}{% endif %}</div>
        <h1 class="release-page__title">{{ page.title }}</h1>
        <div class="release-page__listen-on">Listen on:</div>
        <div>
          <a class="release-page__bandcamp-btn{% if page.coming_soon %} is-disabled{% endif %}" href="{% if page.coming_soon %}javascript:void(0){% else %}{{ page.link_bandcamp }}{% endif %}" target="_blank">
            <span class="release-page__bandcamp-btn-icon"></span>
            <img class="release-page__bandcamp-btn-img" src="{{ site.baseurl }}/assets/img/svg-icons/bandcamp.svg">
            <span class="release-page__bandcamp-btn-text">Bandcamp</span>
          </a>
          <a class="release-page__youtube-btn is-disabled" href="javascript:void(0)" target="_blank">
            <span class="release-page__youtube-btn-icon"></span>
            <img class="release-page__youtube-btn-img" src="{{ site.baseurl }}/assets/img/svg-icons/youtube.svg">
            <span class="release-page__youtube-btn-text">Youtube</span>
          </a>
        </div>
      </div>
    </div>

    <div class="release-page__player{% include IframeSize/index.html %}">
      {% if page.coming_soon %}
      <div class="release-page__player-coming">Music<br>is coming</div>
      {% endif %}
      {% if page.bandcamp_id %}
      <iframe class="release-page__player-iframe{% include IframeSize/index.html %}" src="https://bandcamp.com/EmbeddedPlayer/album={{ page.bandcamp_id }}/size=large/bgcol=333333/linkcol=4ec5ec/artwork=none/transparent=true/" seamless></iframe>
      {% endif %}
    </div>

  </div>
</div>

<div class="release-page-content">
  <div class="release-page-content__wrapper">
    {{ content }}

    {% if page.mastered_by %}
    <hr>
    <p>Credits:</p>
    {% endif %}

    {% if page.compiled_by %}
    <p>
      <span>Compiled By</span>
      {{ page.compiled_by }}
    </p>
    {% endif %}

    {% if page.artwork_by %}
    <p>
      <span>Artwork By</span>
      {{ page.artwork_by }}
    </p>
    {% endif %}

    {% if page.mastered_by %}
    <p>
      <span>Mastered By</span>
      {{ page.mastered_by }}
    </p>
    {% endif %}

    {% if page.link_discogs %}
    <hr>
    <p>Links:</p>
    {% endif %}

    {% if page.link_bandcamp %}
    <p style="display: none;">
      <!-- <span>Donate:</span> -->
      <a href="{{ page.link_bandcamp }}" target="_blank">
        Bandcamp
      </a>
    </p>
    {% endif %}

    {% if page.link_ektoplazm %}
    <p>
      <!-- <span>Free Download:</span> -->
      <a href="{{ page.link_ektoplazm }}" target="_blank">
        Ektoplazm
      </a>
    </p>
    {% endif %}

    {% if page.link_discogs %}
    <p>
      <!-- <span>Release Info:</span> -->
      <a href="{{ page.link_discogs }}" target="_blank">
        <!-- <span class="icon-discogs"></span> -->
        Discogs
      </a>
    </p>
    {% endif %}

    <hr>
    <p>Share:</p>
    <p class="release-page-content__social">
      <a href="#" class="release-page-content__btn-facebook" data-social="facebook">
        fb
        <!-- <span class="icon-facebook"></span> -->
        <span data-counter="facebook"></span>
      </a>
      <a href="#" class="release-page-content__btn-vkontakte" data-social="vkontakte">
        vk
        <span data-counter="vkontakte"></span>
      </a>
      <a href="#" class="release-page-content__btn-googleplus" data-social="googleplus">
        gp
        <span data-counter="googleplus"></span>
      </a>
      <a href="#" class="release-page-content__btn-twitter" data-social="twitter">
        tw
        <!-- <span class="icon-twitter"></span> -->
      </a>
    </p>
  </div>
</div>
