<div class="release-page">
  {% include SVG/deco-triangle.svg fill='#fff' %}

  <div class="release-page__wrapper">

    <div class="release-page__media">
      <a class="release-page__cover" href="https://content.sentimony.com/assets/img/releases/large/{% if page.cover %}{{ page.cat_no }}/{{ page.slug }}.jpg{% else %}artwork-in-progress.jpg{% endif %}">
        <img class="release-page__cover-img" src="https://content.sentimony.com/assets/img/releases/medium/{% if page.cover %}{{ page.cat_no }}/{{ page.slug }}.jpg{% else %}artwork-in-progress.jpg{% endif %}">
      </a>

      <div class="release-page__info">
        <div class="release-page__date">{{ page.date | date: "%Y" }}</div>
        <h1 class="release-page__title">{{ page.title }}</h1>
        <div class="release-page__listen-on">Listen on:</div>
        <div>
          <a class="release-page__bandcamp-btn" href="{{ page.bandcamp }}" target="_blank">
            <span class="release-page__bandcamp-btn-icon"></span>
            <img class="release-page__bandcamp-btn-img" src="{{ site.baseurl }}/assets/img/svg-icons/bandcamp.svg">
            <span class="release-page__bandcamp-btn-text">Bandcamp</span>
          </a>
          <a class="release-page__youtube-btn is-disabled" href="javascript:void(0)" target="_blank">
            <span class="release-page__youtube-btn-icon"></span>
            <img class="release-page__youtube-btn-img" src="{{ site.baseurl }}/assets/img/svg-icons/youtube.svg">
            <span class="release-page__youtube-btn-text">Youtube</span>
          </a>
        </div>
      </div>
    </div>

    <div class="release-page__player{% include IframeSize/index.html %}">
      {% if page.bandcamp_id %}
      <iframe class="release-page__player-iframe{% include IframeSize/index.html %}" src="https://bandcamp.com/EmbeddedPlayer/album={{ page.bandcamp_id }}/size=large/bgcol=333333/linkcol=4ec5ec/artwork=none/transparent=true/" seamless></iframe>
      {% endif %}
    </div>

  </div>
</div>

<div class="release-page-content">
  {% include SVG/deco-triangle.svg fill='#000' %}

  <div class="release-page-content__wrapper">
    {{ content }}

    {% if page.discogs %}
    <hr>
    <p>Links:</p>
    {% endif %}

    {% if page.ektoplazm %}
    <p>
      <!-- <span>Free Download:</span> -->
      <a href="{{ page.ektoplazm }}" target="_blank">
        Ektoplazm
      </a>
    </p>
    {% endif %}

    {% if page.discogs %}
    <p>
      <!-- <span>Release Info:</span> -->
      <a href="{{ page.discogs }}" target="_blank">
        <!-- <span class="icon-discogs"></span> -->
        Discogs
      </a>
    </p>
    {% endif %}
  </div>
</div>
