.release-page {
  position: relative;
  padding: 0 .6em;

  &__wrapper {
    margin: 0 auto;
    max-width: 1278px;
    text-align: left;
    border-top: 1px solid rgba(#fff,.3);
    padding: 1.8em 0;
    box-sizing: border-box;
    position: relative;
    z-index: 40;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;

    @include media(L) {
      flex-direction: row;
      padding-top: 60px;
    }
  }

  &__media {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 1em;
    width: 100%;
    position: relative;

    @include media(L) {
      margin-top: 3em;
      margin-bottom: 6em;
      width: auto;
    }
  }

  &__cover {
    min-width: 100px;
    height: 100px;
    border-radius: 8px;
    overflow: hidden;
    margin-right: 1.4em;
    background-color: rgba(#000,.5);
    display: flex;
    align-items: stretch;

    @include media(M) {
      min-width: 190px;
      height: 190px;
    }

    &-link {
      display: flex;
      align-items: stretch;
      width: 100%;
    }

    &-img {
      display: block;
      width: 100%;
      max-width: 100px;
      box-shadow: 0 2px 10px 0 rgba(#000,.5);
      background-color: rgba(#000,.5);

      @include media(M) {
        max-width: 190px;
      }
    }

    &-coming {
      padding: 1em 1.2em;
      font-size: 10px;
      color: rgba(#fff,.5);

      @include media(M) {
        font-size: 14px;
      }
    }
  }

  &__info {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding-right: 1.1em;
  }

  &__date {
    font-size: 14px;
    color: rgba(#fff,.5);
  }

  &__title {
    font-size: 18px;
    margin: 0 0 .25em;
    color: #fff;
    text-transform: capitalize;

    @include media(S) {
      font-size: 32px;
    }
  }

  &__listen-on {
    font-size: 14px;
    color: rgba(#fff,.5);
    // margin-bottom: .7em;
  }

  &__bandcamp-btn {
    @extend .btn;
    margin-top: .7em;

    &-icon {
      @extend .icon-bandcamp;
      @extend .btn__icon;
    }

    &-img {
      @extend .btn__img;
    }

    &-text {
      @extend .btn__text;
    }
  }

  &__youtube-btn {
    @extend .btn;
    margin-top: .7em;

    &-icon {
      @extend .icon-youtube;
    }

    &-icon {
      @extend .icon-bandcamp;
      @extend .btn__icon;
    }

    &-img {
      @extend .btn__img;
    }

    &-text {
      @extend .btn__text;
    }
  }

  &__player {
    display: block;
    box-shadow: 0 2px 10px 0 rgba(#000,.5);
    background-color: rgba(#000,.5);
    border-radius: 6px;
    overflow: hidden;
    width: 100%;
    max-width: 540px;
    position: relative;
    height: (537px + 25px);

    @include media(S) {
      height: 537px;
    }

    @include media(M) {
      min-width: 540px;
    }

    &-coming {
      padding: 1em 1.2em;
      font-size: 14px;
      color: rgba(#fff,.5);
    }

    &-iframe {
      border-radius: 6px;
      overflow: hidden;
      display: block;
      width: 100%;
      overflow: hidden;
      max-width: 540px;
      border: none;
      margin: 0 auto;
      height: (537px + 25px);

      @include media(S) {
        height: 537px;
      }
    }
  }
}

.release-page-content {
  // display: none;
  text-align: left;
  background-color: #fff;
  color: #000;
  position: relative;
  padding: 2em .6em 4em;

  &__wrapper {
    max-width: 600px;
    position: relative;
    z-index: 40;

    @include media(L) {
      margin: 0 auto;
    }
  }

  a {
    color: #0046ff;
  }

  &__social {
    display: flex;
  }

  &__btn-facebook {
    @extend .btn-social;
    background-color: #3c5a95;
  }

  &__btn-vkontakte {
    @extend .btn-social;
    background-color: #1074b1;
  }

  &__btn-googleplus {
    @extend .btn-social;
    background-color: #dd4c3b;
  }

  &__btn-twitter {
    @extend .btn-social;
    background-color: #20a7c6;
  }

  &__btn-icon {
    display: block;
    max-height: 2em;
    margin: 0 auto;
  }

  &__btn-counter {
    margin-left: .6em;
    // position: absolute;
    // right: .6em;
  }
}
