<section>
  <h3>Friends</h3>
  <div>
  {% for i in site.data.Friends.config %}
    <div>
      <div>
        <div>{{ i.title }}</div>
        {% if i.site %}
          <a href="{{ i.site }}"><span class="icon-public"></span></a>
        {% endif %}
        {% if i.bandcamp %}
          <a href="{{ i.bandcamp }}"><span class="icon-bandcamp"></span></a>
        {% endif %}
        {% if i.facebook %}
          <a href="{{ i.facebook }}"><span class="icon-facebook"></span></a>
        {% endif %}
        {% if i.soundcloud %}
          <a href="{{ i.soundcloud }}"><span class="icon-soundcloud"></span></a>
        {% endif %}
      </div>
    </div>
  {% endfor %}
  </div>
</section>
