.headr {
  position: relative;
  z-index: 1000;
  padding: 0 .6em;

  &__container {
    max-width: 1278px;
    margin: 0 auto;
    height: 75px;
    border-bottom: 1px solid rgba(#fff,.3);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__main-menu {
    display: none;

    @include media(M) {
      display: flex;
    }

    &-link {
      padding: .938em .938em*1.5;
      font-size: 16px;
      color: #fff;
      border-radius: 6px;
      transition: background-color .2s ease-in-out;
      margin-left: .2em;

      &:first-child {
        margin-left: 0;
      }

      // &.is-selected,
      &:hover {
        background-color: $colorBgLight;
      }
    }
  }

  &__social-menu {
    display: none;

    @include media(S) {
      display: flex;
    }

    @include media(M) {
      justify-content: flex-end;
      width: 232px;
    }

    &-link {
      @extend .headr__main-menu-link;
      font-size: 16px;
      color: #fff;
      padding: .938em;
      box-sizing: border-box;

      &-img {
        display: block;
        width: auto;
        height: 24px;
        margin: 0 auto;
      }

      &-tooltip {
        display: none;
      }
    }
  }

  &__mob-menu-button {
    @extend .headr__main-menu-link;
    display: block;
    padding: 1.063em;
    margin-left: 0;

    @include media(M) {
      display: none;
    }

    &-img {
      display: block;
      width: auto;
      height: 20px;
      margin: 0 auto;
    }
  }
}
