<div class="releases-list-swiper">
  <div class="releases-list-swiper__title">Our releases</div>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      {% for i in site.categories.releases %}
      <div class="swiper-slide {% if page.url contains i.slug %}is-active{% endif %}">
        <div class="releases-list-swiper__item-cover">
          <a class="releases-list-swiper__item-cover-link" href="{{ i.url }}">
            <img class="releases-list-swiper__item-cover-img" src="https://content.sentimony.com/assets/img/releases/small/{% if i.cover %}{{ i.cat_no }}/{{ i.slug }}.jpg{% else %}artwork-in-progress.jpg{% endif %}">
          </a>
        </div>
        <div class="releases-list-swiper__item-title">{{ i.title }}</div>
      </div>
      {% endfor %}
    </div>
    <div class="swiper-button-prev swiper-button-white"></div>
    <div class="swiper-button-next swiper-button-white"></div>
  </div>
</div>
