<div class="releases-list-swiper">
  <div class="releases-list-swiper__title">Our releases</div>
  <div class="swiper-container releases-list-swiper__container">
    <div class="swiper-wrapper">
      {% for i in site.categories.releases %}
      <a href="{{ i.url }}" class="swiper-slide releases-list-swiper__item{% if page.url contains i.slug %} is-selected{% endif %}">
        <div class="releases-list-swiper__item-cover">
          <img class="releases-list-swiper__item-cover-img" src="https://content.sentimony.com/assets/img/releases/small/{% if i.cover %}{{ i.cat_no }}/{{ i.slug }}.jpg{% else %}artwork-in-progress.jpg{% endif %}">
        </div>
        <div class="releases-list-swiper__item-title">{{ i.title }}</div>
      </a>
      {% endfor %}
    </div>
    <div class="swiper-button-prev swiper-button-white"></div>
    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-scrollbar"></div>
  </div>
</div>
