<footer>
	<section>

		<p class="copyright">Irukanji 2008 - 2015 © All Rights Reserved</p>

		<nav>
			<a href="https://www.facebook.com/irukanji.music" target="_blank">facebook</a>
			<a href="https://soundcloud.com/irukanji-music" target="_blank">soundcloud</a>
			<a href="http://coub.com/irukanji.music" target="_blank">coub</a>
			<a href="http://www.discogs.com/artist/1375976-Irukanji" target="_blank">discogs</a>
			<br>
			<a href="https://irukanji.bandcamp.com" target="_blank">bandcamp</a>
		</nav>

	</section>
</footer>
