<footer>
  <nav class="social">
    <a href="https://sentimony.bandcamp.com" target="_blank">
      <span class="icon-bandcamp"></span>
      <span class="tooltip">bandcamp</span>
    </a>
    <a href="https://www.facebook.com/sentimony.records" target="_blank">
      <span class="icon-facebook"></span>
      <span class="tooltip">facebook</span>
    </a>
    <a href="https://twitter.com/sentimony" target="_blank">
      <span class="icon-twitter"></span>
      <span class="tooltip">twitter</span>
    </a>
    <a href="https://soundcloud.com/sentimony" target="_blank">
      <span class="icon-soundcloud"></span>
      <span class="tooltip">soundcloud</span>
    </a>
    <a href="http://www.discogs.com/label/82598-Sentimony-Records" target="_blank">
      <span class="icon-discogs"></span>
      <span class="tooltip">discogs</span>
    </a>
  </nav>

  <nav class="labels">
    <a href="http://sentimony.com">Sentimony Records</a>
    <a href="http://aquadeepmusic.com">Aqua Deep Music</a>
    <a href="http://lookinglook.com">Lookinglook Records</a>
  </nav>

  <!-- <div>Web Development & Design by <a href="http://ihororlovskyi.com" target="_blank">Ihor Orlovskyi</a></div> -->
  <div>Sentimony Records 2006 - 2015 © All Rights Reserved</div>
</footer>

