.ArtistList {
  padding: 10px 5%;
  @include clearfix;

  a.ArtistItem {
    float: left;
    padding: 5px;
    box-sizing: border-box;
    width: 100%;

    @include media(S) {
      width: 50%;
    }

    @include media(M) {
      width: 33.333333%;
    }

    @include media(L) {
      // width: 33.333333%;
      // width: 25%;
    }

    @include media(XL) {
      // width: 25%;
      // width: 20%;
    }

    .image-container {
      overflow: hidden;

      img {
        display: block;
        width: 100%;
        // transform: scale(1) translateZ(0);
        // transition: transform 0.85s ease-out;
      }
    }

    .title {
      padding: 6px 0;
      background: rgba(#444, .5);
      transition: all .15s ease-in-out;
    }

    &:hover {

      .image-container img {
        // transform: scale(1.1) translateZ(0);
      }

      .title {
        background: transparent;
        color: #ff4081;
      }
    }
  }
}
