$selection-color: rgba(#e10000,.5);

::selection {
    background: $selection-color;
}

::-moz-selection {
    background: $selection-color;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    -webkit-tap-highlight-color: transparent;
}
