<div class="page-release">
  {% include SVG/deco-triangle.svg %}

  <div class="page-release__wrapper">

    <div class="page-release__media">
      <div class="page-release__cover">
        {% if page.cover %}
          <a class="page-release__cover-link" href="https://content.sentimony.com/assets/img/releases/large/{{ page.cat_no }}/{{ page.slug }}.jpg">
            <img class="page-release__cover-img lazyload"
              src="https://content.sentimony.com/assets/img/releases/medium/{{ page.cat_no }}/{{ page.slug }}.jpg"
              data-srcset="https://content.sentimony.com/assets/img/releases/medium/{{ page.cat_no }}/{{ page.slug }}.jpg 1x,
                           https://content.sentimony.com/assets/img/releases/medium-retina/{{ page.cat_no }}/{{ page.slug }}.jpg 2x"
              alt="{{ page.title }} Medium Thumbnail" 
            >
          </a>
        {% else %}
          <div class="page-release__cover-coming">Artwork<br>in progress</div>
        {% endif %}
      </div>

      <div class="page-release__info">
        <div class="page-release__small-info">
          <span class="page-release__catalog-number">{{ page.cat_nu }}</span> |
          {% if page.coming_soon %}
            Coming at {{ page.release_date | date: '%Y' }}
          {% else %}
            {{ page.release_date | date_to_string }}
          {% endif %}
        </div>
        <h1 class="page-release__title">{{ page.title }}</h1>
        <div class="page-release__small-info">
          {{ page.style }}
          {% if page.total_time %}
            | {{ page.total_time }}
          {% endif %}
        </div>
        {% if page.total_time %}
          <div class="page-release__small-info">
          </div>
        {% endif %}
        <div class="page-release__small-info">Get it:</div>
        <div>
          <a class="page-release__bandcamp-btn{% if page.coming_soon %} is-disabled{% endif %}" href="{% if page.coming_soon %}javascript:void(0){% else %}{{ page.link_bandcamp }}{% endif %}" target="_blank" rel="noopener">
            <img class="page-release__bandcamp-btn-img" src="{{ site.baseurl }}/assets/img/svg-icons/bandcamp.svg" alt="Bandcamp Icon">
            <span class="page-release__bandcamp-btn-text">Bandcamp</span>
          </a>
          <a class="page-release__junodownload-btn{% if page.link_junodownload == null %} is-disabled{% endif %}" href="{% if page.link_junodownload == null %}javascript:void(0){% else %}{{ page.link_junodownload }}{% endif %}" target="_blank" rel="noopener">
            <img class="page-release__junodownload-btn-img" src="{{ site.baseurl }}/assets/img/svg-icons/junodownload.svg" alt="JunoDownload Icon">
            <span class="page-release__junodownload-btn-text">JunoDownload</span>
          </a>
        </div>
      </div>
    </div>

    <div class="page-release__player-tabs">

      <div id="vue-tabs">
        <vue-tabs>
          <v-tab title="Bandcamp" icon="icon-bandcamp">
            <div class="page-release__bandcamp-player{% include IframeSize/index.html %}">
              {% if page.coming_soon %}
                <div class="page-release__bandcamp-player-coming">Music<br>is coming</div>
              {% endif %}
              {% if page.bandcamp_id %}
                <iframe
                  class="page-release__bandcamp-player-iframe{% include IframeSize/index.html %}"
                  src="https://bandcamp.com/EmbeddedPlayer/album={{ page.bandcamp_id }}/size=large/bgcol=333333/linkcol=4ec5ec/artwork=none/transparent=true/"
                  seamless
                  title="{{ page.title }} Bandcamp Iframe"
                ></iframe>
              {% endif %}
            </div>
          </v-tab>
          {% if page.youtube_playlist_id %}
            <v-tab title="YouTube" icon="icon-youtube">
              <div class="page-release__youtube-player">
                <iframe
                  class="page-release__youtube-player-iframe"
                  src="https://www.youtube.com/embed/videoseries?list={{ page.youtube_playlist_id }}"
                  title="{{ page.title }} YouTube Iframe"
                ></iframe>
              </div>
            </v-tab>
          {% endif %}
        </vue-tabs>
      </div>

    </div>

  </div>
</div>

<div class="page-release-content">
  <div class="page-release-content__wrapper">
    {{ content }}
  </div>
</div>

<div class="page-release-content">
  <div class="page-release-content__wrapper">

    {% if page.mastered_by %}
      <hr>
      <p>Credits:</p>
    {% endif %}

    {% if page.written_by %}
      <p>
        <span>Written & Prodused By</span>
        {{ page.written_by }}
      </p>
    {% endif %}

    {% if page.compiled_by %}
      <p>
        <span>Compiled By</span>
        {{ page.compiled_by }}
      </p>
    {% endif %}

    {% if page.artwork_by %}
      <p>
        <span>Artwork By</span>
        {{ page.artwork_by }}
      </p>
    {% endif %}

    {% if page.mastered_by %}
      <p>
        <span>Mastered By</span>
        {{ page.mastered_by }}
      </p>
    {% endif %}

    {% if page.link_discogs %}
      <hr>
      <p>Links:</p>
    {% endif %}

    {% comment %}
      {% if page.link_bandcamp %}
        <p>
          {% comment %}<span>Donate:</span>{% endcomment %}
          <a href="{{ page.link_bandcamp }}" target="_blank" rel="noopener">
            <span>Bandcamp</span>
          </a>
        </p>
      {% endif %}
    {% endcomment %}

    {% if page.link_beatspace %}
      <p>
        <a href="{{ page.link_beatspace }}" target="_blank" rel="noopener">
          <span>Beatspace</span>
        </a>
      </p>
    {% endif %}

    {% if page.link_ektoplazm %}
      <p>
        {% comment %}<span>Free Download:</span>{% endcomment %}
        <a href="{{ page.link_ektoplazm }}" target="_blank" rel="noopener">
          <span>Ektoplazm</span>
        </a>
      </p>
    {% endif %}

    {% if page.link_discogs %}
      <p>
        {% comment %}<span>Release Info:</span>{% endcomment %}
        <a href="https://www.discogs.com/master/view/{{ page.link_discogs }}" target="_blank" rel="noopener">
          {% comment %}<span class="icon-discogs"></span>{% endcomment %}
          <span>Discogs</span>
        </a>
      </p>
    {% endif %}

    {% include GoodShare/index.html %}

    <hr>
    {% if page.comments %}
      {% include DisqusComments/index.html %}
    {% endif %}

  </div>
</div>
