<section>
  <h3>Releases</h3>

  <div>
    {% for i in site.categories.releases %}
    <a href="{{ i.url }}"">
      <div>
        <!-- {% if i.cover %}
        <img src="https://content.sentimony.com/assets/img/releases/medium/{{ i.cat_no }}/{{ i.slug }}.jpg">
        {% else %}
        <img src="https://content.sentimony.com/assets/img/releases/medium/artwork-in-progress.jpg">
        {% endif %} -->
        <img src="{{ site.baseurl }}/assets/img/releases/{{ i.slug }}.jpg">
      </div>
      <div>{{ i.title }}</div>
    </a>
    {% endfor %}
  </div>
</section>
