.release-list {
  padding: 10px 5%;
  @include clearfix;

  &__item {
    float: left;
    padding: 5px;
    box-sizing: border-box;

    @include media($One) {
      width: 100%;
    }

    @include media($Two) {
      width: 50%;
    }

    @include media($Three) {
      width: 33.333333%;
    }

    @include media($ThreeSidebar) {
      width: 25%;
    }

    @include media($Four) {
      width: 20%;
    }

    .image-container {
      overflow: hidden;
      img {
        display: block;
        width: 100%;
        transform: scale(1) translateZ(0);
        transition: all 0.85s ease-out;
      }
    }

    .title {
      padding: 6px 8px;
      background: rgba(#444, .5);
      transition: all .15s ease-in-out;
    }

    &:hover {

      .image-container img {
        transform: scale(1.1) translateZ(0);
      }

      .title {
        background: transparent;
        color: #ff4081;
      }
    }
  }
}
