.logolink {
  display: flex;
  justify-content: center;
  align-items: center;
  @extend .headr__main-menu-link;
  width: 232px;
  height: 54px;
  padding: 0;

  &__logo {
    width: 40px;
    display: block;
    margin-right: .792em;
  }

  &__text {
    text-align: left;
  }

  &__title {
    color: #fff;
  }

  &__description {
    font-size: 12px;
    color: rgba(#fff,.4);
    letter-spacing: .4px;
  }
}
