.logolink {
  padding: .4em .8em;
  display: flex;
  align-items: center;

  &__icon {
    @extend .icon-sentimony-records-logo;
    margin-right: 24px;
    display: none;
  }

  &__logo {
    width: 40px;
    display: block;
    margin-right: .8em;
  }

  &__text {
    text-align: left;
  }

  &__title {
    font-size: 16px;
    color: #fff;
  }

  &__subtitle {
    font-size: 14px;
    color: rgba(#fff,.4);
    letter-spacing: .06em;
  }
}
