.base-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  // background-color: rgba(#666,.666);

  &__img {
    display: block;
    width: auto;
    height: 100%;
    max-width: inherit;
  }
}
