$w: 100%;
$m: 10px;

section.friends {
  padding: 10px 5px;

  .friends-list {
    width: $w;
    padding: 0 5%;
    box-sizing: border-box;
    @include clearfix;

    .friend-item {
      float: left;
      width: $w/5;
      padding-bottom: $w/5;
      position: relative;

      .content {
        position: absolute;
        top: $m;
        left: $m;
        right: $m;
        bottom: $m;
        padding: $m*2;
        text-align: left;
        background: rgba(#000, .5);

        .title {
          font-size: 16px;
          margin-bottom: $m;
          // display: inline-block;
        }
        a {
          font-size: 22px;
          & + a {
            margin-left: $m;
          }
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
}
