<header class="main-menu">
  <div class="main-menu__container">

  {% include BlockLogolink/index.html %}

  <nav class="main-menu__main-menu">
    <a href="{{ site.baseurl }}/release/zymosis-insight/" class="main-menu__main-menu-link{% if page.url contains 'release' %} is-selected{% endif %}">Releases</a>
    {% comment %}
    <a href="{{ site.baseurl }}/news/" class="main-menu__main-menu-link{% if page.url contains 'news' %} is-selected{% endif %}">News</a>
    <a href="{{ site.baseurl }}/releases/" class="main-menu__main-menu-link{% if page.url contains 'release' %} is-selected{% endif %}">Releases</a>
    <a href="{{ site.baseurl }}/artists/" class="main-menu__main-menu-link{% if page.url contains 'artist' %} is-selected{% endif %}">Artists</a>
    <a href="{{ site.baseurl }}/events/" class="main-menu__main-menu-link{% if page.url contains 'event' %} is-selected{% endif %}">Events</a>
    <a href="{{ site.baseurl }}/friends/" class="main-menu__main-menu-link{% if page.url contains 'friends' %} is-selected{% endif %}">Friends</a>
    {% endcomment %}
  </nav>

  <nav class="main-menu__social-menu">
    <a class="main-menu__social-menu-link" href="https://sentimony.bandcamp.com" target="_blank" rel="noopener">
      <img class="main-menu__social-menu-link-img" src="{{ site.baseurl }}/assets/img/svg-icons/bandcamp.svg" alt="Bandcamp Icon">
      <span class="main-menu__social-menu-link-tooltip">bandcamp</span>
    </a>
    <a class="main-menu__social-menu-link" href="https://www.facebook.com/sentimony.records" target="_blank" rel="noopener">
      <img class="main-menu__social-menu-link-img" src="{{ site.baseurl }}/assets/img/svg-icons/facebook.svg" alt="Facebook Icon">
      <span class="main-menu__social-menu-link-tooltip">facebook</span>
    </a>
    <a class="main-menu__social-menu-link" href="https://www.youtube.com/c/SentimonyRecordsOfficial" target="_blank" rel="noopener">
      <img class="main-menu__social-menu-link-img" src="{{ site.baseurl }}/assets/img/svg-icons/youtube.svg" alt="YouTube Icon">
      <span class="main-menu__social-menu-link-tooltip">youtube</span>
    </a>
    {% comment %}
    <a class="main-menu__social-menu-link" href="https://soundcloud.com/sentimony" target="_blank" rel="noopener">
      <img class="main-menu__social-menu-link-img" src="{{ site.baseurl }}/assets/img/svg-icons/soundcloud.svg">
      <span class="main-menu__social-menu-link-tooltip">soundcloud</span>
    </a>
    {% endcomment %}
  </nav>

  {% comment %}
  <a href="{{ site.baseurl }}/release/zymosis-insight/" class="main-menu__mob-menu-button">
    <img class="main-menu__mob-menu-button-img" src="{{ site.baseurl }}/assets/img/svg-icons/menu.svg">
  </a>
  {% endcomment %}

  </div>
</header>
