.block-footer {
  padding: 100px .6em;
  background-color: #000;
  font-size: 12px;
  color: rgba(#fff,.5);
  position: relative;

  // &__labels {
  //   margin: 0 auto 10px;
  //   display: inline-block;
  //   padding: 10px 0;
  //   border: 1px solid rgba(#fff,.1);
  //   border-width: 1px 0;

  //   a {
  //     display: inline-block;
  //     padding: .1em .9em;
  //   }
  // }

  &__copyright {
    margin: 0 auto 2em;

    &-logo {
      display: block;
      margin: .5em auto 0;
      max-width: 30px;
      height: auto;
    }
  }

  &__powered {
    margin: 0 auto 2em;
    font-size: 10px;
  }

  // &__versions {
  //   margin: 0 auto 10px;
  //   display: inline-block;
  //   padding: 10px 0;
  //   border: 1px solid rgba(#fff,.1);
  //   border-width: 1px 0;
  //   font-size: .8em;

  //   a {
  //     display: inline-block;
  //     padding: .1em .9em;
  //   }
  // }
}
