@import '../node_modules/normalize.css/normalize';
@import '../node_modules/coriolan-ui/tools/variables';
@import '../node_modules/coriolan-ui/mixins/media';
@import '../node_modules/coriolan-ui/mixins/ratio';
@import '../node_modules/coriolan-ui/mixins/clearfix';
@import '../node_modules/swiper/dist/css/swiper';
@import 'vendor/svg-icons/svg-icons';

@import 'ui/base';
@import 'ui/flex-sticky';
@import 'ui/buttons';
@import 'ui/unvisible';
@import '_components/MainMenu/styles';
@import '_components/LogoLink/styles';
@import '_components/Hero/styles';
@import '_components/ReleaseListSwiper/styles';
@import '_components/ReleasePage/styles';
@import '_components/SVG/deco-triangle';
@import '_components/IframeSize/styles';
@import '_components/FooterBlock/styles';
@import '_layouts/artist-page-styles';
