.header {
  // position: fixed;
  position: relative;
  z-index: 1000;
  // top: 0;
  // left: 0;
  // width: 100%;
  // background: rgba(#000, .5);
  padding: 0 .6em;

  &__container {
    max-width: 1278px;
    margin: 0 auto;
    height: 75px;
    border-bottom: 1px solid rgba(#fff,.3);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    font-size: 16px;
    color: #fff;
    border-radius: 6px;
    transition: background-color .2s ease-in-out;

    &:hover,
    &.is-selected {
      background-color: rgba(#fff,.3);
    }
  }

  &__main-menu {
    display: none;

    @include media(M) {
      display: flex;
    }

    &-link {
      padding: 1em 1.8em;
    }
  }

  &__social-menu {
    display: none;

    @include media(M) {
      display: flex;
    }

    &-link {
      font-size: 16px;
      color: #fff;
      min-width: 60px;
      padding: 1em;
      box-sizing: border-box;

      &-img {
        display: block;
        width: auto;
        height: 20px;
        margin: 0 auto;
      }

      &-icon-bandcamp {
        @extend .icon-bandcamp;
      }

      &-icon-facebook {
        @extend .icon-facebook;
      }

      &-icon-soundcloud {
        @extend .icon-soundcloud;
      }

      &-icon-youtube {
        @extend .icon-youtube;
      }

      &-icon-bandcamp,
      &-icon-facebook,
      &-icon-soundcloud,
      &-icon-youtube,
      &-tooltip {
        display: none;
      }
    }
  }

  &__mob-menu-button {
    display: block;
    padding: 1em 1.1em;

    @include media(M) {
      display: none;
    }

    &-img {
      display: block;
      width: auto;
      height: 20px;
      margin: 0 auto;
    }
  }
}
