---
layout: default
titleAfter: Electronic Psychedelic Music
meta: Sentimony Records - Electronic psychedelic music label from Kyiv, Ukraine
keywords: 
permalink: /
---
<header>
    <div class="content">
        <hgroup>
            <h1>Sentimony Records</h1>
            <h2>Electronic music label</h2>
        </hgroup>
    </div>
    <div class="overlay"></div>
</header>

<section class="list">
    <h3>Latest Releases</h3>
    {% for release in site.categories.release limit:4 %}
        <a href="{{ release.url }}">
            <div class="outline">
                <img src="{{ site.baseurl }}/assets/img/releases/{{ release.release-id }}.jpg" alt="Cover Of {{ release.title }}">
            </div>
            <div class="title">{{ release.title }}</div>
        </a>
    {% endfor %}
</section>

<section class="list">
    <h3>Artists</h3>
    {% for artists in site.categories.artists %}
        <a href="{{ artists.url }}">
            <div class="outline">
                <img src="{{ site.baseurl }}/assets/img/artists/{{ artists.photo }}.jpg" alt="Photo Of {{ artists.title }}">
            </div>
            <div class="title">{{ artists.title }}</div>
        </a>
    {% endfor %}
</section>
