<footer class="footer-block">

  <div class="footer-block__menu">
    <a href="{{ site.baseurl }}/" class="header__main-menu-link{% if page.url == '/'%} is-selected{% endif %}">Home</a>
    <a href="{{ site.baseurl }}/news/" class="header__main-menu-link{% if page.url contains 'news' %} is-selected{% endif %}">News</a>
    <a href="{{ site.baseurl }}/releases/" class="header__main-menu-link{% if page.url contains 'release' %} is-selected{% endif %}">Releases</a>
    <a href="{{ site.baseurl }}/artists/" class="header__main-menu-link{% if page.url contains 'artist' %} is-selected{% endif %}">Artists</a>
    <a href="{{ site.baseurl }}/events/" class="header__main-menu-link{% if page.url contains 'event' %} is-selected{% endif %}">Events</a>
    <a href="{{ site.baseurl }}/friends/" class="header__main-menu-link{% if page.url contains 'friends' %} is-selected{% endif %}">Friends</a>
    <a href="{{ site.baseurl }}/contacts/" class="header__main-menu-link{% if page.url contains 'contacts' %} is-selected{% endif %}">Contacts</a>
  </div>

  <div>Follow Us:</div>
  <div class="footer-block__social">
    <a href="https://sentimony.bandcamp.com" target="_blank">
      <span class="icon-bandcamp"></span>
      <span class="tooltip">bandcamp</span>
    </a>
    <a href="https://www.facebook.com/sentimony.records" target="_blank">
      <span class="icon-facebook"></span>
      <span class="tooltip">facebook</span>
    </a>
    <a href="https://www.youtube.com/c/SentimonyRecordsOfficial" target="_blank">
      <span class="icon-youtube"></span>
      <span class="tooltip">youtube</span>
    </a>
    <a href="http://www.junodownload.com/labels/Sentimony/releases/?order=date_down" target="_blank">
      <span class="icon-junodownload"></span>
      <span class="tooltip">junodownload</span>
    </a>
    <a href="https://soundcloud.com/sentimony" target="_blank">
      <span class="icon-soundcloud"></span>
      <span class="tooltip">soundcloud</span>
    </a>
    <a href="https://twitter.com/sentimony" target="_blank">
        <span class="icon-twitter"></span>
        <span class="tooltip">twitter</span>
    </a>
    <a href="https://plus.google.com/110805662421856505326" target="_blank">
        <span class="icon-googleplus"></span>
        <span class="tooltip">googleplus</span>
    </a>
    <!-- <a href="https://www.mixcloud.com/sentimony" target="_blank">
        <span class="icon-mixcloud"></span>
        <span class="tooltip">mixcloud</span>
    </a> -->
    <a href="https://vk.com/club1342946" target="_blank">
        <span class="icon-vkontakte"></span>
        <span class="tooltip">vkontakte</span>
    </a>
    <a href="https://www.discogs.com/label/82598-Sentimony-Records?sort=year&sort_order=desc&layout=big" target="_blank">
        <span class="icon-discogs"></span>
        <span class="tooltip">discogs</span>
    </a>
  </div>

  <div class="footer-block__labels">
    <a href="https://sentimony.com" class="active">Sentimony Records</a>
    <a href="https://aquadeepmusic.sentimony.com">Aqua Deep Music</a>
    <a href="https://lookinglook.sentimony.com">Lookinglook Records</a>
  </div>

  <div class="footer-block__copyright">
    <div>2006 - 2017 © Sentimony Records</div>
    <div>All Rights Reserved</div>
    <div><span class="icon-sentimony-records-logo"></span></div>
  </div>

  <div class="footer-block__powered">
    <div>Web development by <a href="https://ihororlovskyi.com" target="_blank">Ihor Orlovskyi</a></div>
    <div>Design by <a href="https://rooooster.com" target="_blank">Anton Pivniuk</a></div>
  </div>

  <div class="footer-block__versions">
    <a href="https://sentimony.com" class="active">jekyll</a>
    <a href="https://gatsby.sentimony.com">gatsby</a>
    <a href="https://nuxt.sentimony.com">nuxt</a>
  </div>

</footer>

