.menu-social {

  &__caption {
  }

  &__list {
    padding-top: 1.2em;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }

  &__link {
    padding: .1em .9em;
    position: relative;
  }

  &__icon {
    width: 20px;
  }

  &__tooltip {
    font-size: .75em;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate3d(-50%,-100%,0);
    transition: opacity .2s ease;
    opacity: 0;
    visibility: hidden;

    .menu-social__link:hover & {
      opacity: 1;
      visibility: visible;
    }
  }
}
