.menu-main {
  margin: 0 auto 2em;

  &__wrapper {
    display: inline-block;
  }

  &__list {
    border: 1px solid rgba(#fff,.1);
    border-width: 1px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__link {
    padding: .6em;
  }
}
