.artist-list {

  &__photo {
    display: block;
    margin: 0 auto;
    max-width: 120px;
    height: auto;
    box-shadow: $shadow;
    border-radius: 8px;
  }

  &__title {
    max-width: 120px;
  }
}
