<div class="page-artist">
  {% include SVG/deco-triangle.svg %}

  <div class="page-artist__wrapper">

    <div class="page-artist__media">
      <div class="page-artist__cover">
        {% if page.photo_cover %}
          <a class="page-artist__cover-link" href="{{ page.photo_cover }}">
            <img class="page-artist__cover-img" src="{{ page.photo_cover }}" alt="{{ page.title }}">
          </a>
        {% else %}
          <div class="page-artist__cover-coming">Photo<br>coming soon</div>
        {% endif %}
      </div>

      <div class="page-artist__info">
        <div class="page-artist__small-info">
          <div class="page-artist__style">{{ page.style }}</div>
        </div>
        <h1 class="page-artist__title">{{ page.title }}</h1>

        {% if page.name %}
          <div class="page-artist__small-info">Name: {{ page.name }}</div>
        {% endif %}

        {% if page.location %}
          <div class="page-artist__small-info">Location: {{ page.location }}</div>
        {% endif %}

        {% comment %}
          {% if page.link_discogs %}
            <hr>
            <p>Links:</p>
          {% endif %}

          {% if page.website %}
            <p>
              <a href="{{ page.website }}" target="_blank"><span class="icon-public"></span> Website</a>
            </p>
          {% endif %}

          {% if page.bandcamp %}
            <p>
              <a href="{{ page.bandcamp }}" target="_blank"><span class="icon-bandcamp"></span> Bandcamp</a>
            </p>
          {% endif %}

          {% if page.facebook %}
            <p>
              <a href="{{ page.facebook }}" target="_blank"><span class="icon-facebook"></span> Facebook</a>
            </p>
          {% endif %}

          {% if page.soundcloud %}
            <p>
              <a href="{{ page.soundcloud }}" target="_blank"><span class="icon-soundcloud"></span> SoundCloud</a>
            </p>
          {% endif %}

          {% if page.discogs %}
            <p>
              <a href="{{ page.discogs }}" target="_blank"><span class="icon-discogs"></span> Discogs</a>
            </p>
          {% endif %}
        {% endcomment %}

      </div>
    </div>

      <div class="page-artist__player-tabs">
        <div id="vue-tabs">
          <vue-tabs>
            {% if page.youtube_id %}
            <v-tab title="Youtube" icon="icon-youtube">
              <div class="iframe-holder">
                <div class="iframe-holder__ratio">
                  <iframe class="iframe-holder__iframe" src="https://www.youtube.com/embed/videoseries?list={{ page.youtube_id }}" allowfullscreen></iframe>
                </div>
              </div>
            </v-tab>
            {% endif %}
            {% if page.soundcloud_id %}
              <v-tab title="Soundcloud" icon="icon-soundcloud">
                <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/{{ page.soundcloud_id }}&amp;color=00aabb&amp;hide_related=true&amp;show_comments=true&amp;show_user=false&amp;sharing=false&amp;show_bpm=true" style="width:100%;height:500px;border:none;display:block"></iframe>
              </v-tab>
            {% endif %}
            {% if page.facebook %}
              <v-tab title="Facebook" icon="icon-facebook">
                {% comment %}
                <!-- TODO: What is appId ??? -->
                {% endcomment %}
                <iframe class="facebook-widget facebook-widget--size-s" src="https://www.facebook.com/plugins/page.php?href={{ page.facebook }}%2F&tabs&width=287&height=214&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=197035617008842" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                <iframe class="facebook-widget facebook-widget--size-m" src="https://www.facebook.com/plugins/page.php?href={{ page.facebook }}%2F&tabs&width=500&height=214&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=197035617008842" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
              </v-tab>
            {% endif %}
            {% if page.discogs %}
              <v-tab title="Discography" icon="icon-discogs">
                <a href="{{ page.discogs }}" target="_blank" style="display:flex;align-items:center">
                  <img src="{{ site.baseurl }}/assets/img/svg-icons/discogs.svg" style="width:20px;margin-right:.4em">
                  <span>Discogs</span>
                </a>
              </v-tab>
            {% endif %}
          </vue-tabs>
        </div>
      </div>

  </div>
</div>

  <div class="page-artist-content">
    <div class="page-artist-content__wrapper">
      {% comment %}
        {{ content }}
      {% endcomment %}
      {% if page.comments %}
        {% include DisqusComments/index.html %}
      {% endif %}
    </div>
  </div>
