<div class="page-artist">
  {% include SVG/deco-triangle.svg fill='#fff' %}

  <div class="page-artist__wrapper">
    <h1>{{ page.title }}</h1>

    {% if page.photo_cover %}
      <p>
        <img class="photo-cover" src="{{ page.photo_cover }}" alt="{{ page.title }}">
      </p>
    {% endif %}

    {% if page.name %}
      <div>Name: {{ page.name }}</div>
    {% endif %}

    {% if page.location %}
      <div>Location: {{ page.location }}</div>
    {% endif %}

    {% if page.style %}
      <div>Style: {{ page.style }}</div>
    {% endif %}

    {% if page.website %}
      <a href="{{ page.website }}" target="_blank"><span class="icon-public"></span></a>
    {% endif %}

    {% if page.bandcamp %}
      <a href="{{ page.bandcamp }}" target="_blank"><span class="icon-bandcamp"></span></a>
    {% endif %}

    {% if page.facebook %}
      <a href="{{ page.facebook }}" target="_blank"><span class="icon-facebook"></span></a>
    {% endif %}

    {% if page.soundcloud %}
      <a href="{{ page.soundcloud }}" target="_blank"><span class="icon-soundcloud"></span></a>
    {% endif %}

    {% if page.discogs %}
      <a href="{{ page.discogs }}" target="_blank"><span class="icon-discogs"></span></a>
    {% endif %}

    {% if page.youtube_id %}
    <div id="vue-tabs">
      <vue-tabs>
        <v-tab title="Youtube" icon="icon-youtube">
            <div class="iframe-holder">
              <div class="iframe-holder__ratio">
                <iframe class="iframe-holder__iframe" src="https://www.youtube.com/embed/videoseries?list={{ page.youtube_id }}" allowfullscreen></iframe>
              </div>
            </div>
        </v-tab>
        {% if page.soundcloud_id %}
        <v-tab title="Soundcloud" icon="icon-soundcloud">
            <div class="iframe-holder">
              <div class="iframe-holder__ratio">
                <iframe class="iframe-holder__iframe" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/{{ page.soundcloud_id }}&amp;color=00aabb&amp;hide_related=true&amp;show_comments=true&amp;show_user=false&amp;sharing=false&amp;show_bpm=true"></iframe>
              </div>
            </div>
        </v-tab>
        {% endif %}
      </vue-tabs>
    </div>
    {% endif %}

    {{ content }}
  </div>
</div>
