.page-artist {
  position: relative;
  padding: 0 .6em;

  &__wrapper {
    margin: 0 auto;
    max-width: 1278px;
    border-top: 1px solid rgba(#fff,.3);
    padding: 1.8em 0 1.8em;
    box-sizing: border-box;
    // text-align: left;
    position: relative;
    z-index: 40;
  }

  .iframe-holder {
    max-width: 777px;
    margin-left: auto;
    margin-right: auto;

    &__ratio {
      position: relative;
      @include ratio(100%,16,9);
      // margin-bottom: 2em;
    }

    &__iframe {
      border: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.photo-cover {
  display: block;
  margin: 0 auto;
  height: 100px;
  box-shadow: $shadow;
  border-radius: 6px;
}
