<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }} · {% endif %}Sentimony Records{% if page.titleAfter %} · {{ page.titleAfter }}{% endif %}</title>
    <meta name="description" content="{{page.meta}}">
    <meta name="keywords" content="{% if page.keywords %}{{page.keywords}},{% endif %} {{site.keywords}}">
    <meta name="author" content="Ihor Orlovskyi">

    <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick-theme.css"/>
    <link rel="stylesheet" href="http://dimsemenov-static.s3.amazonaws.com/dist/magnific-popup.css"> 
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/favicons/favicon-32.png">
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/img/favicons/favicon-57.png">
</head>
<body>
    <nav class="header">
        <a href="{{ site.baseurl }}/">home</a>
    </nav>

    {{ content }}

    <footer>
        <section>

            <nav>
                <a href="https://sentimony.bandcamp.com" target="_blank">bandcamp</a>
                <a href="https://www.facebook.com/sentimony.records" target="_blank">facebook</a>
                <a href="https://soundcloud.com/sentimony" target="_blank">soundcloud</a>
                <a href="http://www.discogs.com/label/82598-Sentimony-Records" target="_blank">discogs</a>
            </nav>

            <nav>
                <a href="http://sentimony.com">Sentimony Records</a>
                <a href="http://aquadeepmusic.com">Aqua Deep Music</a>
                <a href="http://lookinglook.com">Lookinglook Records</a>
            </nav>

            <div>Web Development & Design by <a href="http://ihororlovskyi.com" target="_blank">Ihor Orlovskyi</a></div>
            <div>Sentimony Records 2006 - 2015 © All Rights Reserved</div>

        </section>
    </footer>

    <script src="{{ site.baseurl }}/assets/js/vendor/jquery-2.1.1.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/vendor/imagesloaded.pkgd.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/vendor/isotope.pkgd.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/vendor/waypoints.min.js"></script>
    <script src="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js"></script>
    <script src="http://dimsemenov-static.s3.amazonaws.com/dist/jquery.magnific-popup.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/vendor/fresco.js"></script>
    <script src="{{ site.baseurl }}/assets/js/vendor/fotorama.js"></script>
    <script src="{{ site.baseurl }}/assets/js/main.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-11291366-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>
