---
layout: default
---

<article class="item item-releases">
    <img src="{{ site.baseurl }}/assets/img/releases/{{ page.id }}.jpg" alt="Cover Of {{ page.title }}">
    <h1>{{ page.title }}</h1>

    {{ content }}

    {% if page.bandcamp-id %}
        <iframe class="bandcamp-item bandcamp-item__release" src="http://bandcamp.com/EmbeddedPlayer/v=2/album={{ page.bandcamp-id }}/layout=http_3A_2F_2Fbandcamp-play.github.io_2Firukanji-album.json/bgcol=333/linkcol=88ffff/debug=true/"></iframe>
    {% endif %}
</article>

