.release-list-swiper {
  width: 100%;
  overflow: hidden;
  height: 136px;

  @include media(M) {
    height: 286px;
  }

  &__title {
    text-align: left;
    max-width: 1270px;
    margin: .5em auto;
    font-size: 18px;
    padding: 0 10px;
    box-sizing: border-box;

    @include media(M) {
      font-size: 32px;
    }
  }

  &__container {
    overflow: visible;
    padding-top: 10px;
    padding-bottom: 13px;
    @include unvisible;
  }

  &__item {
    box-sizing: border-box;
    padding-right: 3px;
    padding-left: 3px;
    width: 90px;

    @include media(M) {
      width: 180px;
    }

    &-cover {
      // overflow: hidden;
      margin: 0 auto .2em;
      position: relative;
      @include ratio(60px,1,1);
      min-width: 60px;

      @include media(M) {
        @include ratio(120px,1,1);
        min-width: 120px;
        margin-bottom: 1.1em;
      }

      &:before {
        content: '';
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        border-radius: 8px;
        transition: background-color .2s ease-in-out;
        width: 70px;
        height: 70px;
        transform: translate3d(-5px,-5px,0);

        @include media(M) {
          width: 140px;
          height: 140px;
          transform: translate3d(-10px,-10px,0);
        }

        .release-list-swiper__item.is-selected &,
        .release-list-swiper__item:hover & {
          background-color: rgba(#fff,.3);
        }
      }

      &:after {
        content: '';
        position: absolute;
        z-index: 20;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        background-color: $colorBgBlack;
      }

      &-img {
        border-radius: 8px;
        box-shadow: $shadow;
        display: block;
        position: absolute;
        z-index: 30;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      &-coming {
        color: rgba(#fff,.5);
        font-size: 8px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding: .6em 1.2em;
        text-align: left;
        z-index: 30;
        // margin-top: 2em;

        @include media(M) {
          font-size: 10px;
        }
      }
    }

    &-title {
      color: #fff;
      // font-size: 12px;
      font-size: 14px;
      display: none;

      @include media(M) {
        display: block;
      }
    }

    &-status {
      position: absolute;
      top: -10px;
      // left: 50%;
      font-size: 8px;
      z-index: 40;
      padding: .2em .8em;
      border-radius: 0 8px 0 8px;
      // transform: translate3d(-50%,0,0);
      right: -10px;

      @include media(M) {
        font-size: 10px;
      }

      &-coming-soon {
        background-color: #008b00;
      }

      &-new {
        background-color: #ef0000;
      }
    }
  }

  &__prev,
  &__next {
    display: none;
    background-color: #fff;
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 900;
    top: 25%;
    margin-top: 0;
    width: 40px;
    height: 40px;
    border-radius: 80px;
    cursor: pointer;
    transition: opacity .2s ease;
    opacity: .7;

    @include media(M) {
      display: block;
    }

    &:hover {
      opacity: 1;
    }

    &.swiper-button-disabled {
      opacity: .2;
    }
  }

  &__prev {
    left: 5px;
    background-image: url(/assets/img/svg-icons/arrow-left.svg);
  }

  &__next {
    right: 5px;
    background-image: url(/assets/img/svg-icons/arrow-right.svg);
  }

  .swiper-scrollbar {
    left: 4.5%;
    width: 91%;
  }

  .swiper-scrollbar-drag {
    background-color: rgba(#fff,.3);
  }
}
